---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("August 08 2021")}
    heroImage="/blog-placeholder-about.jpg"
>
    <b>Formative Years</b>
    <p>
        My first experience with code was HTML 4.01 and CSS 2.1 while
        fine-tuning my MySpace page. We're talking 7th and 8th grade here. After
        that, I pursued the most advanced technical courses Yucaipa high school
        had to offer: Photoshop 1 and Photoshop 2. I was pretty naive back then;
        I don't think I was aware that making money with computers was a thing
        at the time, it just wasn't something the people around me were doing.
        It was more-so just something I was interested in, because Photoshop was
        a medium I could use to create unique digital art that I would then move
        to canvas or stencil for tattoos.
    </p>

    <b>Past lifes</b>
    <p>
        Some stuff I don't talk about as often but is actually pretty cool; I've
        spent time as an (amateur) tattoo artist, a videographer, a graphic
        designer, a web developer.
    </p>
    <p>
        I am pretty slick on a skateboard, surfboard, and wakeboard. Never been
        on a Snowboard, although I've worked several seasons as a Ski Lift
        Operator at Mammoth Lakes and Big Bear Lake.
    </p>
    <p>
        After working as a lift operator in Mammoth Lakes, I transitioned over
        to McDonalds where I worked my way from register duties up to the night
        shift manager. Ultimately I decided to leave Mammoth.
    </p>
</Layout>
