---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Hey I'm Matthew Bub!</h1>
            <p>
                I'm a software engineer working on web and mobile applications.
                I enjoy working on the full stack, learning new skills and
                working with good folks to build great software. I tend to code
                day and night, for better or worse.
            </p>

            <b>Life at mPulse</b>
            <p>
                I've been with mPulse (Formerly HealthTrio LLC.) since 2021. I'm
                currently working on interoperability REST API efforts within
                healthcare systems that service millions of patients.
                Previously, I developed and maintained the client facing portal
                services for those healthcare systems using Web, iOS and Android
                technologies.
            </p>
        </main>
        <Footer />
    </body>
</html>
