---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Hey I'm Matthew Bub!</h1>
            <p>
                I'm a software engineer working on web and mobile applications.
                I enjoy working on the full stack, learning new skills and
                working with good folks to build great software.</p>

            <h2>At mPulse</h2>
            <p>
                I've been with mPulse (Formerly HealthTrio LLC.) since 2021. I develop and maintain web portal services for healthcare systems that service millions of patients using Web, iOS and Android technologies.
            </p>
            
            <!-- <h2>Experiments</h2>
            <p>Here's some projects I've recently worked on </p> -->
            <!-- <ul>
              <li>
                <a href="https://wussup.chat" target="_blank" rel="noopener noreferrer">
                  <b>wussup.chat</b> - AI Chatbot ...
                </a>
              </li>
              <li>
                <a href="https://usemodularblocks.com" target="_blank" rel="noopener noreferrer">
                  <b>usemodularblocks.com</b> - Modular Blocks ...
                </a>
              </li>
              
              
            </ul>  -->
            <!-- <h2>Let's Build</h2>
            <p>
                I specialize in building advanced web apps weather you're
                looking for a new website, a web app, or a mobile app.
            </p>
            <ul>
                <li>
                    <b>Custom Internal Software</b> - If your team is getting bogged down with advanced learning curves in the software they use for thier day to day operations, 
                    it might be worth scheduling a free consultation to see if a simpler user interface could save your team time and money.
                </li>
                <li>
                    <b>Advanced Shopping Experiences</b> - I'm proficient in React Native and
                    Expo.
                </li>
            </ul> -->
        </main>
        <Footer />
    </body>
</html>
