---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="My Setup"
    description="A list of stuff I use in my day-to-day"
    pubDate={new Date("May 27 2025")}
>
    <p>
        My setup is always changing. I thought it would be fun to document where
        I'm at right now. It's kind of hard to list some things, like how I have
        several Macbook chargers for each room of my home, but the stuff worth
        mentioned will be presented below.
    </p>

    <h2>Hardware</h2>
    <ul>
        <li>
            Macbook Pro 16" (Apple M1 Pro, 16GB Memory) - I typically use the
            builtin keyboard and trackpad although I will ocassionally connect
            the Mac Keyboard and Mac Mouse. I also have a secondary Macbook Pro
            thats bigger but that's a company provided machine so I don't count
            that.
        </li>
        <li>
            Built-in MacBook Display + 32" LG Display - I use the built-in display and a 32 inch LG display that I've had
            for a while. I'm definitely overdue for an upgrade.
        </li>
        <li>
            <a
                href="https://www.amazon.com/gp/product/B006JH8T3S"
                target="_blank"
            >
                Logitech HD Pro Webcam C920
            </a> - My mom got me this for christmas and it's been working great.
        </li>
        <li>
            <a
                href="https://www.amazon.com/Sony-MDRZX110-BLK-Stereo-Headphones/dp/B00NJ2M33I/?th=1"
                target="_blank">Sony ZX Series Headphones</a> - My headphones are the most frugal options on Amazon. I typically
            have a trusty pair laying around for when I need to jump into Zoom meetings, Slack Huddles
            or Teams meetigns.
        </li>
        <li>
            Amazon Echo Buds - When I'm out on walks, or shopping by myself, I probably
            have a pair on. (Loosing wireless earpods is expensive!)
        </li>
  </ul>
  <h2>IDE</h2>
  <ul>
    <li>Neovim with Tmux - I use this because I can move fast and consistenly between machines. You can checkout <a href="https://github.com/matthewbub/dotfiles">my dotfiles</a> here.</li>
    <li>VSCode (Or Cursor) - I ocassionally find a need to jump to these when Neovim isn't the right tool.</li>
    <li>JetBrains IntelliJ - I still maintain a Premium subscription. (I always tell myself I'll use the other IDEs like WebStorm but never actually do.)</li>
    <li>Zed - I'm keeping a close eye on this one.</li>
    <li>
      Ghostty Terminal - It's great and I would highly recommend.
    </li>
  </ul>
    <h2>Tech Stack</h2>
    <p>
        These aren't going to be one-size-fits-all solutions. Just technology I
        often reach for when the situation arises, unless I have an explicit
        reason not too.
    </p>
    <ul>
        <li>
            Next.js App Router + TailwindCSS + Shadcn - For general web apps I'm usually reaching for this stack.
        </li>
        <li>
            Clerk - I use this for user and organization management.
        </li>
        <li>
            Vercel - I host everything built with Next.js here.
        </li>
        <li>
            Convex - I haven't really found a cloud database provider I'm super jazzed
            with, although if I had to recommend anything <i>right now</i>, it
            would be this.
        </li>
        <li>
            ESLint and Prettier - Linting and formatting are still handled by these. I
            like Biome, but its a non-issue for me and I typically just roll
            with the defualts in Next.js unless I have a reason not too, or if
            they annoy me.
        </li>
        <li>
            Playwright with Vitest - I like writing integration tests that cover the expected
            funcationlity of the web application. I should probably write a blog
            post to expand further. I try to ensure the
            end user is getting the expereince that was intended. I try to avoid
            having to mock funcationlity in test enviroments. This is an draft
            opionion I'm still fleshing out through trial and error.
        </li>
    </ul>

    <h2>Misc</h2>
    <ul>
        <li>
            Folgers Medium Roast (the big can) with Coffee Mate Sugar-Free French Vanilla - Coffee at home is always this combination. I keep it on the dark
            sight, or light on the cream. My Fiancé likes her coffee pretty
            strong so I drink my coffee pretty strong.
        </li>
        <li>
            Starbucks Pike Place Roast with Vanilla and Half & Half - Coffee at Starbucks is always this. Sometimes my local Starbucks will ask if I want the half and
            half steamed. (I kind of wish they never introduced this to me,
            because now I always do, but I won't ask for it myself because I'm
            not the type to haggle.)
        </li>
        <li>
            Good Sandwiches (made with love) - Favorite lunch to eat out. 
            Bonus points if I can work on my laptop at the table without feeling
            uncomfortable. (e.g. Panera Bread)
        </li>
        <li>
            6pm ~ 2am Coding Sessions - My best coding occurs during these hours. Right after my siesta.
            ✨
        </li>
        <li>
            Palm Springs - My favorite place to be. I just can't get enough of
            the culture, atmosphere and good people. It's paradise out there.
        </li>
    </ul>
</Layout>
