---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="My Setup"
    description="A list of stuff I use in my day-to-day"
    pubDate={new Date("May 27 2025")}
>
    <img src="https://unpvc5c6cz.ufs.sh/f/JpJhNkRbDn8ME13Mdxqv7YdUzbGuBMpyZ8JXe0i4NRxHst25" alt="My setup workspace" />
    <p>
        My setup is always changing. I thought it would be fun to document where
        I'm at right now. It's kind of hard to list some things, like how I have
        several Macbook chargers for each room of my home, but the stuff worth
        mentioned will be presented below.
    </p>

    <h2>Hardware</h2>
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell">Macbook Pro 16" (Apple M1 Pro, 16GB Memory)</div>
            <div class="table-cell">I typically use the builtin keyboard and trackpad although I will ocassionally connect the Mac Keyboard and Mac Mouse. I also have a secondary Macbook Pro thats bigger but that's a company provided machine so I don't count that.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Built-in MacBook Display + 32" LG Display</div>
            <div class="table-cell">I use the built-in display and a 32 inch LG display that I've had for a while. I'm definitely overdue for an upgrade.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a
                    href="https://www.amazon.com/gp/product/B006JH8T3S"
                    target="_blank"
                >
                    Logitech HD Pro Webcam C920
                </a>
            </div>
            <div class="table-cell">My mom got me this for christmas and it's been working great.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">
                <a
                    href="https://www.amazon.com/Sony-MDRZX110-BLK-Stereo-Headphones/dp/B00NJ2M33I/?th=1"
                    target="_blank">Sony ZX Series Headphones</a>
            </div>
            <div class="table-cell">My headphones are the most frugal options on Amazon. I typically have a trusty pair laying around for when I need to jump into Zoom meetings, Slack Huddles or Teams meetigns.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Amazon Echo Buds</div>
            <div class="table-cell">When I'm out on walks, or shopping by myself, I probably have a pair on. (Loosing wireless earpods is expensive!)</div>
        </div>
    </div>
  <h2>IDE</h2>
  <div class="table-container">
    <div class="table-row">
        <div class="table-cell">Ghostty + Neovim + Tmux</div>
        <div class="table-cell">My primary development environment. I use this because I can move fast and consistenly between machines. You can checkout <a href="https://github.com/matthewbub/dotfiles">my dotfiles</a> here.</div>
    </div>
    <div class="table-row">
        <div class="table-cell">VSCode (Or Cursor)</div>
        <div class="table-cell">I ocassionally find a need to jump to these when Neovim isn't the right tool.</div>
    </div>
    <div class="table-row">
        <div class="table-cell">JetBrains IntelliJ</div>
        <div class="table-cell">I still maintain a Premium subscription. (I always tell myself I'll use the other IDEs like WebStorm but never actually do.)</div>
    </div>
    <div class="table-row">
        <div class="table-cell">Zed</div>
        <div class="table-cell">I'm keeping a close eye on this one.</div>
    </div>
  </div>
    <h2>Tech Stack</h2>
    <p>
        These aren't going to be one-size-fits-all solutions. Just technology I
        often reach for when the situation arises, unless I have an explicit
        reason not too.
    </p>
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell">Next.js App Router + TailwindCSS + Shadcn</div>
            <div class="table-cell">For general web apps I'm usually reaching for this stack.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Clerk</div>
            <div class="table-cell">I use this for user and organization management.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Vercel</div>
            <div class="table-cell">I host everything built with Next.js here.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Convex</div>
            <div class="table-cell">I haven't really found a cloud database provider I'm super jazzed with, although if I had to recommend anything <i>right now</i>, it would be this.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">ESLint and Prettier</div>
            <div class="table-cell">Linting and formatting are still handled by these. I like Biome, but its a non-issue for me and I typically just roll with the defualts in Next.js unless I have a reason not too, or if they annoy me.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Playwright with Vitest</div>
            <div class="table-cell">I like writing integration tests that cover the expected funcationlity of the web application. I should probably write a blog post to expand further. I try to ensure the end user is getting the expereince that was intended. I try to avoid having to mock funcationlity in test enviroments. This is an draft opionion I'm still fleshing out through trial and error.</div>
        </div>
    </div>

    <h2>Misc</h2>
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell">Folgers Medium Roast (the big can) with Coffee Mate Sugar-Free French Vanilla</div>
            <div class="table-cell">Coffee at home is always this combination. I keep it on the dark sight, or light on the cream. My Fiancé likes her coffee pretty strong so I drink my coffee pretty strong.</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Starbucks Pike Place Roast with Vanilla and Half & Half</div>
            <div class="table-cell">Coffee at Starbucks is always this. Sometimes my local Starbucks will ask if I want the half and half steamed. (I kind of wish they never introduced this to me, because now I always do, but I won't ask for it myself because I'm not the type to haggle.)</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Good Sandwiches (made with love)</div>
            <div class="table-cell">Favorite lunch to eat out. Bonus points if I can work on my laptop at the table without feeling uncomfortable. (e.g. Panera Bread)</div>
        </div>
        <div class="table-row">
            <div class="table-cell">6pm ~ 2am Coding Sessions</div>
            <div class="table-cell">My best coding occurs during these hours. Right after my siesta. ✨</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Palm Springs</div>
            <div class="table-cell">My favorite place to be. I just can't get enough of the culture, atmosphere and good people. It's paradise out there.</div>
        </div>
    </div>
</Layout>
